<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="database.url" value="bolt://localhost:7687"/>
    <add key="database.username" value="neo4j"/>
    <add key="database.password" value="test"/>
  </appSettings>
</configuration>
